# Modelo IQR

In [1]:
import numpy as np
import pandas as pd

## Dataset Wind

In [2]:
# Replace 'your_file.npy' with the path to your .npy file
file_path = '../resultados_grid_search/Wind/Wind_OOB.npy'
data_wind = np.load(file_path)

# Define column names
columns = ['n_estimators', 'group_size', 'max_depth', 'MSE']

# Create a DataFrame
df_wind = pd.DataFrame(data_wind, columns=columns)

# Display the DataFrame
df_wind

     n_estimators  group_size  max_depth        MSE
0           350.0        25.0       17.0  18.493967
1            80.0        20.0       15.0  18.335081
2           210.0        15.0       29.0  18.504845
3          1250.0         5.0       16.0  18.496191
4           300.0        20.0       41.0  18.471128
..            ...         ...        ...        ...
995         750.0         6.0       34.0  18.492332
996         210.0         7.0       41.0  18.503609
997         800.0         5.0       30.0  18.515156
998         300.0        30.0       11.0  18.404787
999         700.0        10.0       38.0  18.464478

[1000 rows x 4 columns]

In [3]:
sorted_df_wind = df_wind.sort_values(by='MSE', ascending=True)
sorted_df_wind['Rank'] = range(1, len(sorted_df_wind) + 1)

top_50_wind = sorted_df_wind[:50]
top_50_wind

     n_estimators  group_size  max_depth        MSE  Rank
96           80.0         8.0       12.0  18.188923     1
116          90.0         6.0       12.0  18.235008     2
140          80.0         4.0       11.0  18.259363     3
226          80.0         8.0       19.0  18.272766     4
84           90.0        10.0       11.0  18.299456     5
203         100.0        20.0       19.0  18.330919     6
1            80.0        20.0       15.0  18.335081     7
539          90.0         5.0       15.0  18.337042     8
74           70.0        35.0       19.0  18.340139     9
62           80.0         4.0       35.0  18.340715    10
811          80.0         4.0       45.0  18.340715    11
155          80.0         4.0       49.0  18.340715    12
732          80.0        10.0       46.0  18.341236    13
103          80.0        20.0       48.0  18.341640    14
123          80.0        20.0       49.0  18.341640    15
71           80.0        20.0       42.0  18.341640    16
270          80.0        20.0       40.0  18.341640    17
751          80.0        40.0       30.0  18.342739    18
660          80.0        40.0       50.0  18.342739    19
939          80.0        40.0       31.0  18.342739    20
700          80.0        20.0       27.0  18.342962    21
684          80.0         5.0       29.0  18.343901    22
258          80.0         8.0       31.0  18.344351    23
776          80.0         5.0       35.0  18.344378    24
570          80.0         5.0       36.0  18.344378    25
310          80.0        10.0       24.0  18.345871    26
896          80.0         8.0       26.0  18.346493    27
279          80.0        10.0       14.0  18.347660    28
241          90.0        45.0       18.0  18.349365    29
263         270.0         5.0       12.0  18.351017    30
392          80.0         5.0       14.0  18.351395    31
587         270.0         6.0       12.0  18.351406    32
277         100.0         4.0       11.0  18.354364    33
617          90.0         5.0       18.0  18.354746    34
9            90.0         9.0       18.0  18.355705    35
378         100.0         5.0       11.0  18.356785    36
919         600.0        30.0       12.0  18.357775    37
637         600.0        50.0       12.0  18.358032    38
168         600.0         5.0       12.0  18.358065    39
925          90.0        15.0       36.0  18.359829    40
511          90.0        15.0       38.0  18.359829    41
172          90.0        15.0       50.0  18.359829    42
38           90.0        15.0       31.0  18.359829    43
199          90.0        10.0       46.0  18.361759    44
152          90.0        10.0       37.0  18.361759    45
320          90.0        10.0       38.0  18.361759    46
758          90.0        45.0       31.0  18.362175    47
69           90.0        30.0       46.0  18.363373    48
6            90.0        30.0       38.0  18.363373    49
218          90.0        30.0       39.0  18.363373    50

## Dataset Carbon Emission

In [4]:
file_path = '../resultados_grid_search/Carbon_Emission/Carbon_Emission_OOB.npy'
data_carbon = np.load(file_path)

# Define column names
columns = ['n_estimators', 'group_size', 'max_depth', 'MSE']

# Create a DataFrame
df_carbon = pd.DataFrame(data_carbon, columns=columns)

# Display the DataFrame
df_carbon

    n_estimators  group_size  max_depth           MSE
0           30.0         3.0        NaN  278492.28125
1           30.0         3.0       10.0  288724.21875
2           30.0         3.0       20.0  274588.21875
3           30.0         5.0        NaN  278371.75000
4           30.0         5.0       10.0  288600.37500
5           30.0         5.0       20.0  274480.62500
6           30.0        10.0        NaN  278481.56250
7           30.0        10.0       10.0  288650.68750
8           30.0        10.0       20.0  274639.34375
9           50.0         5.0        NaN  270561.93750
10          50.0         5.0       10.0  279860.31250
11          50.0         5.0       20.0  268115.21875
12          50.0        10.0        NaN  270678.09375
13          50.0        10.0       10.0  279897.43750
14          50.0        10.0       20.0  268225.56250
15         100.0         5.0        NaN  264331.25000
16         100.0         5.0       10.0  276506.40625
17         100.0         5.0       20.0  262697.75000
18         100.0        10.0        NaN  264411.12500
19         100.0        10.0       10.0  276559.53125
20         100.0        10.0       20.0  262809.37500

In [5]:
sorted_df_carbon = df_carbon.sort_values(by='MSE', ascending=True)
sorted_df_carbon['Rank'] = range(1, len(sorted_df_carbon) + 1)

top_50_carbon = sorted_df_carbon[:50]
top_50_carbon

    n_estimators  group_size  max_depth           MSE  Rank
17         100.0         5.0       20.0  262697.75000     1
20         100.0        10.0       20.0  262809.37500     2
15         100.0         5.0        NaN  264331.25000     3
18         100.0        10.0        NaN  264411.12500     4
11          50.0         5.0       20.0  268115.21875     5
14          50.0        10.0       20.0  268225.56250     6
9           50.0         5.0        NaN  270561.93750     7
12          50.0        10.0        NaN  270678.09375     8
5           30.0         5.0       20.0  274480.62500     9
2           30.0         3.0       20.0  274588.21875    10
8           30.0        10.0       20.0  274639.34375    11
16         100.0         5.0       10.0  276506.40625    12
19         100.0        10.0       10.0  276559.53125    13
3           30.0         5.0        NaN  278371.75000    14
6           30.0        10.0        NaN  278481.56250    15
0           30.0         3.0        NaN  278492.28125    16
10          50.0         5.0       10.0  279860.31250    17
13          50.0        10.0       10.0  279897.43750    18
4           30.0         5.0       10.0  288600.37500    19
7           30.0        10.0       10.0  288650.68750    20
1           30.0         3.0       10.0  288724.21875    21

## House 8L

In [6]:
file_path = '../resultados_grid_search/House_8L/House_8L_OOB.npy'
data_house_8L = np.load(file_path)

# Define column names
columns = ['n_estimators', 'group_size', 'max_depth', 'MSE']

# Create a DataFrame
df_house_8L = pd.DataFrame(data_house_8L, columns=columns)

# Display the DataFrame
df_house_8L

     n_estimators  group_size  max_depth          MSE
0           260.0        20.0       32.0  952813120.0
1           120.0        10.0       48.0  956564544.0
2           350.0         5.0       14.0  953693568.0
3           210.0         3.0       36.0  956879872.0
4            60.0         4.0       33.0  961850112.0
..            ...         ...        ...          ...
995          60.0         4.0       10.0  984955712.0
996         200.0        10.0       37.0  957363712.0
997         400.0        25.0       16.0  961683520.0
998         150.0        10.0       45.0  954435264.0
999         900.0        20.0       34.0  953594560.0

[1000 rows x 4 columns]

In [7]:
sorted_df_house_8L = df_house_8L.sort_values(by='MSE', ascending=True)
sorted_df_house_8L['Rank'] = range(1, len(sorted_df_house_8L) + 1)

top_50_house_8L = sorted_df_house_8L[:50]
top_50_house_8L

     n_estimators  group_size  max_depth          MSE  Rank
841         120.0         3.0       17.0  950078016.0     1
600         600.0        30.0       27.0  950734656.0     2
375         600.0        25.0       27.0  950802816.0     3
940         850.0         5.0       32.0  950988992.0     4
342         130.0        10.0       32.0  951019392.0     5
34          120.0        10.0       17.0  951104064.0     6
259         160.0         5.0       17.0  951178816.0     7
982         850.0         5.0       22.0  951603072.0     8
28          180.0         3.0       32.0  951757312.0     9
874         100.0         5.0       17.0  951800256.0    10
72          850.0        25.0       27.0  951872128.0    11
699         750.0        50.0       27.0  951996928.0    12
55          700.0        10.0       32.0  952014656.0    13
871         130.0         5.0       43.0  952037504.0    14
382         850.0        10.0       28.0  952049344.0    15
160         850.0        25.0       34.0  952052544.0    16
717         850.0        25.0       28.0  952056576.0    17
938         850.0         5.0       40.0  952076672.0    18
643         750.0        10.0       27.0  952171712.0    19
124         850.0        50.0       45.0  952264704.0    20
965         850.0        50.0       35.0  952298560.0    21
187         850.0        25.0       40.0  952302400.0    22
840         750.0         6.0       22.0  952306368.0    23
457         160.0         4.0       42.0  952312192.0    24
90          160.0         4.0       46.0  952312192.0    25
845         160.0         4.0       43.0  952312192.0    26
52          160.0         5.0       35.0  952360640.0    27
639         750.0        10.0       29.0  952483904.0    28
10          900.0        30.0       29.0  952572224.0    29
800         190.0         5.0       32.0  952594816.0    30
632         150.0        10.0       32.0  952596864.0    31
560         500.0         5.0       27.0  952625920.0    32
972         600.0        50.0       29.0  952667584.0    33
223         850.0        50.0       31.0  952688000.0    34
916         600.0        30.0       29.0  952702720.0    35
337         500.0        10.0       27.0  952710464.0    36
80          700.0        10.0       33.0  952745472.0    37
267         600.0        20.0       29.0  952756160.0    38
789         130.0        10.0       38.0  952759232.0    39
106         130.0        10.0       36.0  952759232.0    40
398         260.0         4.0       32.0  952762304.0    41
783         450.0         6.0       27.0  952762624.0    42
507         160.0        40.0       37.0  952799104.0    43
772         160.0        40.0       45.0  952799104.0    44
410         160.0        40.0       50.0  952799104.0    45
413         700.0        10.0       34.0  952812544.0    46
0           260.0        20.0       32.0  952813120.0    47
634         350.0        35.0       23.0  952822272.0    48
184        1500.0        15.0       28.0  952877696.0    49
598         160.0        20.0       48.0  952908480.0    50

In [8]:
# Drop the 'MSE' column from each top_50 DataFrame
top_50_wind_dropped = top_50_wind.drop(columns=['MSE'])
top_50_carbon_dropped = top_50_carbon.drop(columns=['MSE'])
top_50_house_8L_dropped = top_50_house_8L.drop(columns=['MSE'])

# Concatenate the DataFrames
concatenated_df = pd.concat([top_50_carbon_dropped, top_50_house_8L_dropped, top_50_wind_dropped], ignore_index=True)

# Drop repeated rows
concatenated_df = concatenated_df.drop_duplicates()

# Save the concatenated DataFrame to a CSV file
concatenated_df.to_csv('csvs/OOB_Top_150.csv', index=False)