In [2]:
import numpy as np
import pandas as pd

In [4]:
file_path = '../resultados_grid_search/Carbon_Emission/Carbon_Emission_Random_Forest.npy'
data_carbon = np.load(file_path)

# Define column names
columns = ['max_depth', 'MSE']

df_carbon = pd.DataFrame(data_carbon, columns=columns)

sorted_df_carbon = df_carbon.sort_values(by='MSE', ascending=True)

# Add rank column
sorted_df_carbon['rank'] = sorted_df_carbon['MSE'].rank(method='min')

sorted_df_carbon[:5]

    max_depth           MSE  rank
9        20.0  262682.06250   1.0
23       17.0  263046.50000   2.0
29       21.0  264006.50000   3.0
32       24.0  264158.53125   4.0
6        44.0  264207.90625   5.0

In [5]:
file_path = '../resultados_grid_search/Wind/Wind_Random_Forest.npy'
data_wind = np.load(file_path)

# Define column names
columns = ['max_depth', 'MSE']

df_wind = pd.DataFrame(data_wind, columns=columns)

sorted_df_wind = df_wind.sort_values(by='MSE', ascending=True)

# Add rank column
sorted_df_wind['rank'] = sorted_df_wind['MSE'].rank(method='min')

sorted_df_wind[:5]

    max_depth        MSE  rank
31       12.0  18.278965   1.0
32       19.0  18.331306   2.0
30       11.0  18.351517   3.0
38       15.0  18.373039   4.0
28       14.0  18.376720   5.0

In [6]:
file_path = '../resultados_grid_search/House_8L/House_8L_Random_Forest.npy'
data_house = np.load(file_path)

# Define column names
columns = ['max_depth', 'MSE']

df_house = pd.DataFrame(data_house, columns=columns)

sorted_df_house = df_house.sort_values(by='MSE', ascending=True)

# Add rank column
sorted_df_house['rank'] = sorted_df_house['MSE'].rank(method='min')

sorted_df_house[:5]

    max_depth          MSE  rank
11       17.0  951922752.0   1.0
28       28.0  952411008.0   2.0
2        24.0  955668288.0   3.0
15       30.0  955920448.0   4.0
20       32.0  956249344.0   5.0